/* =============================================================================

Table of Contents

	1.0 Basic Page Styles (Line ~20)


Page Structure

	1. Body

========================================================================== */

/* =============================================================================
   1.0 Basic Page Styles
   ========================================================================== */


#navigation {
	width: 100%;
	max-width: 735px;
	margin: 0 auto;
	background: rgba(70,70,70,1);
	height: 50px;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}

	#navigation h1 {
		border: 0;
		font: 0/0 a;
		margin: 10px 0 0 10px;
		width: 83px;
		height: 32px;
		text-shadow: none;
		color: transparent;
		background: url(../images/logo.png);
		background-size: 83px 32px;
		background-repeat: no-repeat;
	}

	#navigation .menu {
		position: absolute;
		right: 8px;
		top: 0;
		color: rgba(120,120,120,1);
		font-size: 32px;
		cursor: pointer;
		font-weight: bold;
	}

	#navigation ol {
		display: none;
	}

#header {
	margin-top: 0;
	width: 100%;
	background: rgba(50,50,50,1);
}

	#header .wrapper {
		max-width: 735px;
		margin: 0 auto;
	}

	#header .intro {
		box-sizing: border-box;
		width: 100%;
		max-width: 562px;
		padding: 60px 200px 10px 10px;
		background: rgba(70,70,70,1);
		color: rgba(255,255,255,1);

	}

	#header .button {
		float: right;
		background: rgba(0,200,220,1);
		width: 80px;
		right: 0;
	}

		#header .button a {
			color: rgba(255,255,255,1);
		}

	#header .bgtextfill {

	}

		#header .bgtextfill.bgtextfill1 {

		}

		#header .bgtextfill.bgtextfill2 {

		}

		#header .bgtextfill.bgtextfill3 {

		}

#gettoknowus {

}

#whatwedo {

}

#howwedoit {

}

#testimonials {

}

#letsconnect {

}

#footer {

}
