#navigation {
	width: 100%;
	max-width: 735px;
	margin: 0 auto;
	background: #464646;
	height: 50px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	border-right: 2px solid #333333;
	-webkit-transition: top 0.2s ease-in-out;
	transition: top 0.2s ease-in-out;
}

	#navigation h1 {
		border: 0;
		font: 0/0 a;
		margin: 10px 0 0 10px;
		width: 83px;
		height: 32px;
		text-shadow: none;
		color: transparent;
		background: url(../images/logo.png);
		background-size: 83px 32px;
		background-repeat: no-repeat;
		-ms-behavior: url(../polyfill/backgroundsize.min.htc);
	}

	#navigation .menu {
		position: absolute;
		right: 8px;
		top: 0;
		color: #787878;
		font-size: 32px;
		cursor: pointer;
		font-weight: bold;
	}

	#navigation.nav-up {
		top: -50px;
	}

#menu {
	position: fixed;
	width: 100%;
	max-width: 735px;
	margin: 0 auto;
	display: block;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 100;
	font-size: 15px;
}

	#menu ol {
		position: absolute;
		top: 0;
		right: 0;
		background: #464646;
		color: #ffffff;
		box-sizing: border-box;
		padding: 10px 5px;
		border-right: 2px solid #333333;
		border-left: 2px solid #333333;
		border-bottom: 2px solid #333333;
		width: 174px;
		max-height: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		transition-property: transform, opacity;
		-webkit-transition: max-height 0.25s ease-out, opacity 0.25s ease-out;
		transition: max-height 0.25s ease-out, opacity 0.25s ease-out;
		transition-timing-function: cubic-bezier(0.22,.88,.01,.99);
		overflow: hidden;
	}

		#menu ol.active {
			max-height: 195px;
			opacity: 1;
			filter: alpha(opacity=100);
		}

		#menu ol li {
			display: block;
			border-bottom: 1px dashed #787878;
			padding: 5px;
		}

		#menu ol a {
			color: #ffffff;
			transition-property: color;
			-webkit-transition: color 0.15s ease-out;
			transition: color 0.15s ease-out;
			font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
			font-weight: 900;
			text-transform: uppercase;
		}

			#menu ol a:hover {
				color: #00C8DC;
				text-decoration: none;
			}

#header {
	margin-top: 0;
	width: 100%;
	background: #323232;
	z-index: 1;
}

	#header .wrapper {
		max-width: 735px;
		margin: -310px auto 0 auto;
		height: 310px;
		z-index: 1;
	}

	#header .intro {
		box-sizing: border-box;
		width: 100%;
		max-width: 562px;
		padding: 50px 0 10px 10px;
		background: #464646;
		color: #FFF;
	}

		#header .intro p {
			float: left;
			top: 0;
			max-width: 352px;
			padding-right: 10px;
		}

		#header .intro .arrow_container {
			float: right;
			top: 0;
			margin: 10px 20px;
			width: 50px;
			height: 60px;
		}

			#header .arrow_container .line {
				position: absolute;
				border-width: 1px 0px 0px 0px;
				border-style: dashed;
				border-color: #00c8dc;
				transform: translateZ(1px);
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				-o-backface-visibility: hidden;
				backface-visibility: hidden;
			}

	#header .button {
		top: -2px;
		width: 100%;
		max-width: 562px;
	}

		#header .button a {
			float: right;
			color: #FFF;
			background: #00c8dc;
			font-size: 16px;
			line-height: 18px;
			width: 90px;
			padding: 5px;
			box-sizing: border-box;
		}

	#header .bgtextfill {
		display: block;
		height: 310px;
		width: 100%;
		overflow: hidden;
		color: #ff4900;
		font-size: 100px;
		line-height: 110px;
		white-space: nowrap;
		text-transform: uppercase;
		z-index: 0;
		font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
		font-weight: 900;
	}

		#header .bgtextfill1 {
			text-indent: -500px;
		}

		#header .bgtextfill2 {
			text-indent: -1490px;
		}

		#header .bgtextfill3 {
			text-indent: -425px;
		}

#gettoknowus {
	padding-top: 55px;
}

	#gettoknowus h1 {
		display: none;
	}

	#gettoknowus .gettoknowus_intro {
		max-width: 735px;
		margin: 0 auto;
		padding: 0 10px;
		color: #464646;
		font-size: 15px;
		line-height: 18px;
	}

	#gettoknowus .gettoknowus_intro .pullquote {
		text-transform: uppercase;
		max-width: 420px;
		font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
		font-weight: 900;
	}

	#gettoknowus .gettoknowus_intro .pullquote .highlight {
		padding-top: 18px;
		color: #ff4900;
	}

	#gettoknowus .gettoknowus_intro .copy {
		padding: 18px 0;
		border-bottom: 1px dashed #ff4900;
	}

	#gettoknowus .gettoknowus_outro {
		max-width: 735px;
		margin: 0 auto;
		padding: 0 10px;
	}

		#gettoknowus .gettoknowus_outro .pullquote {
			float: left;
			font-size: 40px;
			line-height: 40px;
			max-width: 352px;
			text-transform: uppercase;
			margin: 18px 18px 18px 0;
			font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
			font-weight: 900;
		}

			#gettoknowus .gettoknowus_outro .pullquote .question {
				color: #464646;
			}

			#gettoknowus .gettoknowus_outro .pullquote .response {
				color: #00c8dc;
			}

		#gettoknowus .gettoknowus_outro .copy {
			float: left;
			margin-top: 18px;
			max-width: 325px;
			color: #464646;
			font-size: 15px;
			line-height: 18px;
		}

		#gettoknowus .gettoknowus_outro .button {
			margin-top: 18px;
			margin-bottom: 25px;
		}

			#gettoknowus .gettoknowus_outro .button a {
				color: #FFF;
				background: #ff4900;
				font-size: 16px;
				line-height: 18px;
				padding: 5px 7px;
				box-sizing: border-box;
			}

#whatwedo {
	padding-top: 55px;
	background: #323232;
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
}
	#whatwedo .wrapper {
		max-width: 735px;
		margin: 0 auto;
	}

	#whatwedo .whatwedo_intro {
		max-width: 370px;
		float: left;
		padding: 0 10px;
	}

		#whatwedo .whatwedo_intro h1 {
			text-transform: uppercase;
			padding-bottom: 18px;
			font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
		}

	#whatwedo .whatwedo_intro .pullquote {
		font-size: 40px;
		line-height: 40px;
		text-transform: uppercase;
		color: #ff4900;
		margin: 18px 18px 18px 0;
		font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
		font-weight: 900;
	}

	#whatwedo .whatwedo_content {
		height: 386px;
		max-width: 365px;
		float: left;
		padding: 0 10px;
	}

		#whatwedo .whatwedo_content h3 {
			text-transform: uppercase;
			font-size: 15px;
			line-height: 15px;
			display: block;
			width: 163px;
			height: 55px;
			color: #ffffff;
			background-color: #ff4900;
			box-sizing: border-box;
			padding: 5px 7px;
			margin-bottom: 10px;
			font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
			font-weight: 900;
		}

		#whatwedo .whatwedo_content .digital_innovation {
			float: left;
			margin-right: 10px;
		}

		#whatwedo .whatwedo_content .brand_communication {
			float: left;
		}

		#whatwedo .whatwedo_content ul {
			margin: 0 0 10px 0;
			max-height: 750px;
			overflow: hidden;
		}


		#whatwedo .whatwedo_content li {
			display: block;
			font-size: 15px;
			width: 163px;
			box-sizing: border-box;
			padding: 5px 5px 3px 5px;
		}

#howwedoit {
	padding-top: 55px;
	font-size: 15px;
	line-height: 18px;
}

	#howwedoit .howwedoit_intro, #howwedoit .howwedoit_content {
		max-width: 735px;
		margin: 0 auto;
		padding: 0 10px 18px 10px;
	}

		#howwedoit .howwedoit_intro h1 {
			text-transform: uppercase;
			padding-bottom: 18px;
			font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
			font-weight: 900;
		}


		#howwedoit .howwedoit_content dt {
			position: relative;
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
			width: 170px;
			height: 50px;
		}

		#howwedoit .howwedoit_content dt .term {
			margin-left: 5px;
			padding-left: 5px;
			padding-right: 5px;
			font-weight: 900;
			font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
		}
			#howwedoit .howwedoit_content .active dt .term {
				background-color: #00c8dc;
				color: #FFFFFF;
			}

		#howwedoit .howwedoit_content dt .phrase {
			padding-left: 10px;
			display: none;
		}

			#howwedoit .howwedoit_content .active dt .phrase {
				display: block;
				padding-top: 3px;
			}

		/* TODO: Arrow in How We Do It content
		**/

		#howwedoit .howwedoit_content dd {
			display: none;
			width: 100%;
			max-width: 735px;
			margin: 0 auto;
			height: 50px;
			overflow: hidden;
			position: absolute;
			left: 0;
			right: 0;
			z-index: 1;
			border-top: 1px solid #00c8dc;
			border-bottom: 1px solid #00c8dc;
			height: 115px;
			box-sizing: border-box;
		}

		#howwedoit .howwedoit_content .active dd {
			display: block;
		}

			#howwedoit .howwedoit_content dd .pullquote {
				position: absolute;
				width: 170px;
				color: #00c8dc;
				font-size: 36px;
				top: 20px;
				left: 10px;
				font-weight: 900;
				font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
			}

			#howwedoit .howwedoit_content dd p {
				box-sizing: border-box;
				width: 100%;
				padding: 12px 20px 0 100px;
			}

	#howwedoit .howwedoit_outro {
		max-width: 735px;
		margin: 120px auto 0 auto;
		padding: 0 10px 18px 10px;
	}

#testimonials {
	display: none;
	padding-top: 55px;
}

#letsconnect {
	padding-top: 55px;
	background: #323232;
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
}

	#letsconnect a {
		color: #73E6FF;
	}

	#letsconnect .letsconnect_intro {
		max-width: 735px;
		margin: 0 auto 20px auto;
		padding: 0 10px 10px 10px;
	}

	#letsconnect .letsconnect_intro h1 {
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: 900;
		font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	}

	#letsconnect .letsconnect_question {
		max-width: 735px;
		margin: 0 auto;
		padding: 0 10px;
	}

	#letsconnect .letsconnect_question dt {
		position: relative;
		display: inline-block;
		cursor: pointer;
		width: 170px;
		height: 372px;
		vertical-align: top;
		padding: 5px 5px 0 0;
		box-sizing: border-box;
	}

	#letsconnect .letsconnect_question dt .term {
		display: block;
		height: 40px;
	}

	#letsconnect .letsconnect_question dt .phrase {
		text-transform: uppercase;
		font-size: 37px;
		line-height: 40px;
		display: block;
		color: #00c8dc;
		font-weight: 900;
		font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	}

	#letsconnect .letsconnect_question .active dt {
		background-color: #ff4900;
		border: 5px solid #ff4900;
		padding-top: 0;
	}

		#letsconnect .letsconnect_question .active dt .phrase {
			color: #ffffff;
		}


		#letsconnect .letsconnect_question .active dt .arrow_container {
			position: absolute;
			bottom: 70px;
			left: 55px;
		}

			#letsconnect .letsconnect_question .active dt .arrow_container .line {
				position: absolute;
				border-width: 1px 0px 0px 0px;
				border-style: dashed;
				border-color: #ffffff;
				transform: translateZ(1px);
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				-o-backface-visibility: hidden;
				backface-visibility: hidden;
			}

	#letsconnect .letsconnect_question dd {
		position: absolute;
		display: none;
		width: 100%;
		max-width: 735px;
		margin: 0 auto;
		padding:55px 10px 0 10px;
		height: 50px;
		overflow: hidden;
		left: 0;
		right: 0;
		z-index: 1;
		height: 292px;
		box-sizing: border-box;
	}

		#letsconnect .letsconnect_question .active dd {
			display: block;
		}

		#letsconnect .letsconnect_question dd h2 {
			font-size: 40px;
			line-height: 40px;
			text-transform: uppercase;
			margin-bottom: 20px;
			font-weight: 900;
			font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
		}

		#letsconnect .letsconnect_questions dd p a {
			color: #00c8dc;
		}

		#letsconnect .letsconnect_question .existing_client dd h2 {
			width: 740px;
		}
		#letsconnect .letsconnect_question .future_client dd h2 {
			width: 550px;
		}
		#letsconnect .letsconnect_question .existing_team dd h2 {
			width: 740px;
			font-size: 34px;
			line-height: 34px;
		}
		#letsconnect .letsconnect_question .future_team dd h2 {
			width: 740px;
			font-size: 33px;
			line-height: 33px;
		}

	#letsconnect .letsconnect_outro {
		display: block;
		background-color: #ff4900;
		height: 292px;
	}

#footer {
	padding-top: 55px;
	width: 100%;
	background: #323232;
	color: #666666;
	z-index: 1;
	font-size: 10px;
	line-height: 12px;
}

	#footer .wrapper {
		max-width: 735px;
		margin: 0 auto;
		padding: 0 10px;
		height: 200px;
		z-index: 1;
	}

		#footer .wrapper h1 {
			border: 0;
			font: 0/0 a;
			width: 83px;
			height: 32px;
			text-shadow: none;
			color: transparent;
			background: url(../images/logo.png);
			background-size: 83px 32px;
			background-repeat: no-repeat;
			-ms-behavior: url(polyfill/backgroundsize.min.htc);
			opacity: .2;
			filter: alpha(opacity=20);
		}

		#footer .wrapper .contact {
			margin-top: 12px;
		}

		#footer .wrapper .legal {
			position: absolute;
			right: 10px;
			top: 0;
		}
