/* =============================================================================

Table of Contents

	1.0 Basic Page Styles (Line ~20)


Page Structure

	1. Body

========================================================================== */

/* =============================================================================
   1.0 Basic Page Styles
   ========================================================================== */


#navigation {
	width: 100%;
	max-width: 735px;
	margin: 0 auto;
	background: rgba(70,70,70,1);
	height: 50px;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 50;
}

	#navigation h1 {
		border: 0;
		font: 0/0 a;
		margin: 10px 0 0 10px;
		width: 83px;
		height: 32px;
		text-shadow: none;
		color: transparent;
		background: url(../images/logo.png);
		background-size: 83px 32px;
		background-repeat: no-repeat;
	}

	#navigation .menu {
		position: absolute;
		right: 8px;
		top: 0;
		color: rgba(120,120,120,1);
		font-size: 32px;
		cursor: pointer;
		font-weight: bold;
	}

	#navigation ol {
		display: none;
	}

#header {
	margin-top: 0;
	width: 100%;
	background: rgba(50,50,50,1);
	z-index: 1;
}

	#header .wrapper {
		max-width: 735px;
		margin: -300px auto 0 auto;
		height: 300px;
		z-index: 1;
	}

	#header .intro {
		box-sizing: border-box;
		width: 100%;
		max-width: 562px;
		padding: 60px 0 10px 10px;
		background: rgba(70,70,70,1);
		color: rgba(255,255,255,1);
	}

		#header .intro p {
			display: inline-block;
			max-width: 352px;
		}

		#header .intro .arrow-container {
			float: right;
			margin: 10px 20px;
			width: 50px;
			height: 60px;
		}

			#header .arrow-container .line {
				position: absolute;
				border-width: 1px 0px 0px 0px;
				border-style: dashed;
				border-color: rgba(0,200,220,1);
				transform: translateZ(1px);
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				-o-backface-visibility: hidden;
				backface-visibility: hidden;
			}

	#header .button {
		right: 0;
		width: 100%;
		max-width: 562px;
	}

		#header .button a {
			float: right;
			color: rgba(255,255,255,1);
			background: rgba(0,200,220,1);
			font-size: 16;
			line-height: 18px;
			width: 90px;
			padding: 5px;
			box-sizing: border-box;
		}

	#header .bgtextfill {
		display: block;
		height: 310px;
		width: 100%;
		overflow: hidden;
		color: rgba(255,73,0,1);
		font-size: 100px;
		line-height: 110px;
		white-space: nowrap;
		text-transform: uppercase;
		z-index: 0;
	}

		#header .bgtextfill1 {
			text-indent: -500px;
		}

		#header .bgtextfill2 {
			text-indent: -1490px;
		}

		#header .bgtextfill3 {
			text-indent: -400px;
		}

#gettoknowus {
	padding-top: 55px;
}

	#gettoknowus h1 {
		display: none;
	}

	#gettoknowus .gettoknowus_intro {
		max-width: 735px;
		margin: 0 auto;
		color: rgba(70,70,70,1);
		font-size: 15px;
		line-height: 18px;
	}
	
	#gettoknowus .gettoknowus_intro .pullquote {
		text-transform: uppercase;
		max-width: 350px;
	}

	#gettoknowus .gettoknowus_intro .pullquote .highlight {
		padding-top: 18px;
		color: rgba(255,73,0,1);
	}

	#gettoknowus .gettoknowus_intro .copy {
		padding: 18px 0;
		border-bottom: 1px dashed rgba(255,73,0,1);
	}

	#gettoknowus .gettoknowus_outro {
		max-width: 735px;
		margin: 0 auto;
	}

		#gettoknowus .gettoknowus_outro .pullquote {
			float: left;
			font-size: 40px;
			line-height: 40px;
			max-width: 365px;
			text-transform: uppercase;
			margin: 18px 18px 18px 0;
		}

			#gettoknowus .gettoknowus_outro .pullquote .question {
				color: rgba(70,70,70,1);
			}

			#gettoknowus .gettoknowus_outro .pullquote .response {
				color: rgba(0,200,220,1);
			}

		#gettoknowus .gettoknowus_outro .copy {
			float: left;
			margin-top: 18px;
			max-width: 325px;
			color: rgba(70,70,70,1);
			font-size: 15px;
			line-height: 18px;
		}

		#gettoknowus .gettoknowus_outro .button {
			margin-top: 18px;
		}

			#gettoknowus .gettoknowus_outro .button a {
				color: rgba(255,255,255,1);
				background: rgba(255,73,0,1);
				font-size: 16;
				line-height: 18px;
				padding: 5px;
				box-sizing: border-box;
			}


#whatwedo {
	padding-top: 55px;

}

#howwedoit {
	padding-top: 55px;

}

#testimonials {
	padding-top: 55px;

}

#letsconnect {
	padding-top: 55px;

}

#footer {

}
