@media screen and (max-width: 735px) {

			#howwedoit .howwedoit_content dt {
				display: block;
				width: 100%;
				height: 20px;
			}

			#howwedoit .howwedoit_content dt .term {
				display: inline;
				padding-left: 0;
			}
				#howwedoit .howwedoit_content .active dt .term {
					color: #333333;
					background-color: #FFFFFF;
				}

			#howwedoit .howwedoit_content dt .phrase {
				display: inline;
				padding: 0;
			}

			#howwedoit .howwedoit_content .active dt .phrase {
				display: inline;
			}

			#howwedoit .howwedoit_content dd {
				display: block;
				position: relative;
				margin: 0 auto 20px auto;
				height: auto;
				border-bottom: 0;

			}

				#howwedoit .howwedoit_content dd p {
					margin-bottom: 15px;
					padding: 12px 20px 0 65px;
				}

			#howwedoit .howwedoit_content dd .pullquote {
				font-size: 50px;
				top: 25px;
				left: 0;
				font-weight: 900;
				font-family: 'Replica-Heavy-S', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
			}

	#howwedoit .howwedoit_outro {
		margin-top: 0;
	}


	#letsconnect {
		border-bottom: 1px dashed #ff1e00;
		padding-bottom: 60px;
	}

	#letsconnect .letsconnect_intro {
		padding-bottom: 0;
	}

	#letsconnect .letsconnect_question dt {
		position: relative;
		width: 100%;
		min-width: auto;
		min-height: 50px;
		height: auto;
		margin-top: 20px;
		border: 0 solid #323232;
	}

		#letsconnect .letsconnect_question .active dt {
			background-color: #333333;
			border: 0;
		}

		#letsconnect .letsconnect_question .active dt .phrase {
			padding-left: 5px;
			margin-right: 70px;
			background-color: #ff1e00;
		}

	#letsconnect .letsconnect_question dt .term {
		width: auto;
		height: auto;
		padding-bottom: 5px;
		color: #00c8dc;
	}

	#letsconnect .letsconnect_question dt .phrase {
		width: auto;
		height: auto;
		margin-bottom: 0;
		padding-bottom: 10px;
		color: #ffffff;
		font-size: 30px;
		line-height: 30px;
	}

	#letsconnect .letsconnect_question .active dt .arrow_container {
		display: none;
	}


	#letsconnect .letsconnect_question dd {
		display: none;
		width: auto;
		max-width: 100%;
		position: relative;
		background-color: #ff1e00;
		padding: 20px;
		height: auto;
	}

	#letsconnect .letsconnect_question .active dd {
		position: relative;
	}

		#letsconnect .letsconnect_question .existing_client dd h2 {
			width: auto;
			font-size: 24px;
			line-height: 24px;
		}
		#letsconnect .letsconnect_question .future_client dd h2 {
			width: auto;
			font-size: 24px;
			line-height: 24px;
		}
		#letsconnect .letsconnect_question .existing_team dd h2 {
			width: auto;
			font-size: 24px;
			line-height: 24px;
		}
		#letsconnect .letsconnect_question .future_team dd h2 {
			width: auto;
			font-size: 24px;
			line-height: 24px;
		}

	#letsconnect .letsconnect_outro {
		display: none;
	}
}

@media screen and (max-width: 620px) {

	#header .bgtextfill {
		font-size: 60px;
		line-height: 70px;
	}

		#header.animate .bgtextfill {
			height: 304px;
		}

	#header .bgtextfill .bgtextfill1 {
		top: 0;
	}

	#header .bgtextfill .bgtextfill2 {
		top: 50px;
	}

	#header .bgtextfill .bgtextfill3 {
		top: 100px;
	}

	#header .bgtextfill .bgtextfill4 {
		top: 150px;
	}

	#header .bgtextfill .bgtextfill5 {
		top: 220px;
	}

	#whatwedo .whatwedo_content h3 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	#whatwedo .whatwedo_content {
	}

		#whatwedo .whatwedo_content ul {
			display: block;
			position: relative;
			margin: 0 0 10px 0;
			left: 0;
			max-height: 0;
			opacity: 0;
			filter: alpha(opacity=0);
			-webkit-transition: max-height 0.25s ease-out, opacity 0.25s ease-out;
			   -moz-transition: max-height 0.25s ease-out, opacity 0.25s ease-out;
				-ms-transition: max-height 0.25s ease-out, opacity 0.25s ease-out;
				 -o-transition: max-height 0.25s ease-out, opacity 0.25s ease-out;
					transition: max-height 0.25s ease-out, opacity 0.25s ease-out;
			overflow: hidden;
		}

			#whatwedo .whatwedo_content .active ul {
				max-height: 290px;
				opacity: 1;
				filter: alpha(opacity=100);
				display: block;
			}

			#whatwedo .whatwedo_content .row1 ul {
				top: 0px;
			}

			#whatwedo .whatwedo_content .row2 ul {
				top: 0px;
			}

			#whatwedo .whatwedo_content .row3 ul {
				top: 0px;
			}

			#whatwedo .whatwedo_content .row4 ul {
				top: 0px;
			}

		#whatwedo .whatwedo_content li {
			display: block;
			font-size: 15px;
			width: 200px;
			box-sizing: border-box;
			padding: 5px 5px 3px 5px;
		}

	#footer .wrapper .legal {
		position: relative;
		padding: 15px 0 20px 10px;
	}
}

@media screen and (max-width: 480px) {

	#header .intro .arrow_container {
		display: block;
		position: relative;
		top: auto;
		margin: 5px auto 0 auto;
		text-align: center;
	}

	#header .intro p {
		padding: 0;
		text-align: center;
	}

		#header.animate .intro .arrow_container {
		}

	#header .bgtextfill {
		font-size: 30px;
		line-height: 40px;
	}

		#header.animate .bgtextfill {
			height: 160px;
		}

	#header .bgtextfill .bgtextfill1 {
		top: 0;
	}

	#header .bgtextfill .bgtextfill2 {
		top: 25px;
	}

	#header .bgtextfill .bgtextfill3 {
		top: 50px;
	}

	#header .bgtextfill .bgtextfill4 {
		top: 75px;
	}

	#header .bgtextfill .bgtextfill5 {
		top: 110px;
	}

	#whatwedo .whatwedo_intro .whatwedo_expertise,
	#whatwedo .whatwedo_intro .whatwedo_capabilities {
		max-width: inherit;
	}

	#navigation .company_tagline {
		display: none;
	}
}

